/*IMAGE-ZOOM*/

.zoomPanFrame{
	display:inline-block;
	margin-left: auto;
    margin-right: auto ;
	overflow: hidden;
	border-style: solid;
    border-width: 9px;
    border-color:#ECF0F1;
    border-radius: 0.5em;
	}

.zoomPanImage{
	width: 25em;
	display: block;
	transition: transform .5s ease-out;
	transform: scale(1);
	transform-origin: 0 0 0px;
	}
